<plugin name='mobile-views' version='1.1.1' grailsVersion='2.0 &gt; *'>
  <author>Matthew de Nobrega</author>
  <authorEmail>matthew.denobrega@quirk.biz</authorEmail>
  <title>Grails Mobile Views Plugin</title>
  <description>Uses WURFL to switch to views in a mobile folder for mobile devices
</description>
  <documentation>https://github.com/quirklabs/grails-mobile-views</documentation>
  <type>MobileViewsGrailsPlugin</type>
  <resources>
    <resource>com.quirklabs.mobileviews.MobileService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://maven.springframework.org/milestone/' url='http://maven.springframework.org/milestone/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='spring-mobile' version='0.4' />
    </compile>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='springMobile' version='0.4' />
  </runtimePluginRequirements>
  <behavior />
</plugin>